/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


h1 {
  text-align: center;
  font-family: 'Arapey', serif;
  font-weight: bold;
  font-size: 50px;
  color: #000066;
  text-shadow:0 0 10px rgba(0,0,0,0.7);
}

h3 {
  text-align: center;
  font-family: 'Arapey', serif;
  font-weight: bold;
  font-size: 35px;
  color: #000066;
  /*text-shadow:0 0 10px rgba(0,0,0,0.7);*/
}

h4 {
  text-align: center;
  font-family: 'Arapey', serif;
  font-weight: bold;
  font-size: 30px;
  color: #000066;
  /*text-shadow:0 0 10px rgba(0,0,0,0.7);*/
}

li {
  text-align: center;
  font-family: 'Arapey', serif;
  // font-weight: bold;
  font-size: 25px;
}

p {
  text-align: center;
  font-family: 'Arapey', serif;
  // font-weight: bold;
  font-size: 25px;
}

body {
 width: 100%;
 background-color: #CCFFFF;
 // background: image-url('blurred_background.jpg') no-repeat;
 min-height: 1280px;
 background-size: cover; //this resizes the background for any screen size
 padding: 6em 0em; //give it some breathing room from the top
 overflow: hidden;
}

//////////background image in progress///////////
// .row{
//   width: 100%;
//   background: url( asset-path('assets/blurred_background.jpg', image) ) no-repeat;
//   min-height: 680px; // to make it full-screen top to bottom on most screens
//   background-size: cover; //this resizes the background for any screen size
//   padding: 6em 0em; //give it some breathing room from the top
// }

.parallax {
 margin: 0 auto;
 width: 100%;
 max-width: 1920px;
 position: relative;
 min-height: 100%;
 /*text-shadow:0 0 10px rgba(0,0,0,0.7);*/
 background-position: 100% 0;
}

 
